<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>con6</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/404.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>dobuy</servlet-name>
        <servlet-class>mnm.serv.doorder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dobuy</servlet-name>
        <url-pattern>/dobuy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doedit</servlet-name>
        <servlet-class>mnm.serv.doedit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doedit</servlet-name>
        <url-pattern>/doedit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doupdate</servlet-name>
        <servlet-class>mnm.serv.doedituser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doupdate</servlet-name>
        <url-pattern>/doupdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>res</servlet-name>
        <servlet-class>mnm.serv.dodownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/res/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>mnm.serv.cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartu</servlet-name>
        <servlet-class>mnm.serv.cart_update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartu</servlet-name>
        <url-pattern>/cartu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartd</servlet-name>
        <servlet-class>mnm.serv.cart_del</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartd</servlet-name>
        <url-pattern>/cartd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sendticket</servlet-name>
        <servlet-class>mnm.serv.sendticket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendticket</servlet-name>
        <url-pattern>/sendticket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>mnm.serv.gatwaynew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>banknew</servlet-name>
        <servlet-class>mnm.serv.hesab_new</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>banknew</servlet-name>
        <url-pattern>/banknew</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>merchentnew</servlet-name>
        <servlet-class>mnm.serv.merchent_new</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>merchentnew</servlet-name>
        <url-pattern>/merchentnew</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newwithdraw</servlet-name>
        <servlet-class>mnm.serv.newWithdrow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newwithdraw</servlet-name>
        <url-pattern>/newwithdraw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doforgot</servlet-name>
        <servlet-class>mnm.serv.doforgot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doforgot</servlet-name>
        <url-pattern>/doforgot</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dologin</servlet-name>
        <servlet-class>mnm.serv.dologin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dologin</servlet-name>
        <url-pattern>/dologin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>doregister</servlet-name>
        <servlet-class>mnm.serv.doregister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doregister</servlet-name>
        <url-pattern>/doregister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dologout</servlet-name>
        <servlet-class>mnm.serv.dologout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dologout</servlet-name>
        <url-pattern>/dologout</url-pattern>
    </servlet-mapping>
</web-app>
